<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gioi Thieu</title>
</head>
<body>
<H1>Giới Thiệu</H1>
<P>Hội Sinh Viên Giao Thuỷ- GSA Được thành lập ngày 5/4/2008, Trực thuộc Hội Đồng Hương Giao Thuỷ Tại Hà Nội Tổ chức sinh ra với mục đích chính là Gắn kết các Học sinh, sinh viên đang sinh sống và làm việc tại Hà Nội. Tạo sân chơi bổ ích cho các thành viên và Mục đích chính là để Hoạt động tình nguyện nhằm hướng tới 1 xã hội văn minh, hiện tại, tô sắc cho đời. Qua 10 năm hình thành và phát triển GSA đã có những thành tựu khá nổi bật với những hoạt động thường niên như Trung Thu cho em, Đông ấm, Xuân Yêu Thương và tiêu biểu nhất là hoạt động Mùa Hè Xanh- Sức Trẻ quê hương đã nhận được những phản hồi rất tích cực từ phía địa phương và Xã hội.</P>
<button type="button" onclick="quay_lai_trang_truoc()">Quay lại trang trước</button>

<script>
    function quay_lai_trang_truoc(){
        history.back();
    }
</script>
</body>
</html>